<% layout('layout/boilerplate') -%>
<section>
  <div class="row">
    <h1 class="text-center">Add Blog</h1>
    <div class="col-6 offset-3">
      <form
        action="/blogs"
        method="POST"
        novalidate
        class="validated-form"
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            class="form-control"
            type="text"
            name="Blog[title]"
            id="title"
            required
          />
        </div>
        <div class="mb-3">
          <label for="author" class="form-label">Author</label>
          <input
            class="form-control"
            type="text"
            name="Blog[author]"
            id="author"
            required
          />
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Blog Description</label>
          <textarea
            class="form-control"
            type="text"
            name="Blog[desc]"
            id="description"
            required
          ></textarea>
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Image</label>
          <input
            class="form-control"
            type="file"
            name="image"
            id="image"
            multiple
          />
        </div>
        <button class="btn btn-outline-success">Add</button>
      </form>
      <div>
        <a href="/">Back</a>
      </div>
    </div>
  </div>
</section>
<!-- last -->
