<footer class="footer">
<div class="container">
    <div class="foot">
    <div class="footItem">
    <img src="https://res.cloudinary.com/dvpbsy8id/image/upload/v1664214167/tarpitCafe/tarpit_rec_whiteTrans_jp_600_yapcl1.png" alt="Footer Logo">
    <div>
        <p>135 Woodpoint Rd.</p>
        <p>Brooklyn, NY 11211</p>
    </div>
    
    </div>
    <div class="footItem">
        <a href="/about">About</a>
        <a href="/contact">Contact Us</a> 
    </div>
    <div class="footItem">
        <a href="/refund">Refund Policy</a>
        <a href="/privacy_policy">Privacy Policy</a>
        <a href="/terms">Terms and Conditions</a>
    </div>
    <div class="footItem">
        <p>Join the Fam!</p>
        <div class="footIcons">
        <a href="https://www.facebook.com/tarpitcafe/"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.instagram.com/tarpit/"><i class="fa-brands fa-instagram"></i></a>
        </div>
    </div>
</div>
<hr>
    <div>
        <p style="text-align: center;font-size:smaller;">COPYRIGHT © 2022, TARPIT COFFEE</p>
    </div>
</div>
</footer>

