<% layout('layout/dashboard') -%>
<h1>Dashoard</h1>
<div class="recent-orders">
  <h2>All Categories</h2>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>

        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%employees.forEach( emp =>{%>
      <tr>
        <td><%=emp.employeeName%></td>
        <td><%=emp.employeeDes%></td>
        <td style="padding: 10px"><a href="/about">Show</a></td>
        <td class="primary">
          <form
            class="d-inline mt-2"
            action="/employees/<%=emp._id%>?_method=Delete"
            method="POST"
          >
            <button class="btn btn-danger">Delete</button>
          </form>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
