<link href="/stylesheets/card.css" rel="stylesheet" />

<script
  type="text/javascript"
  src="https://sandbox.web.squarecdn.com/v1/square.js"
></script>
<script>
  const appId = "sandbox-sq0idb-tvrdb1jcopz5LPO7DsjEug";
  const locationId = "L6WB1C6A64GWE";
  const Data = async () => {
    const res = await axios.get("http://localhost:3000/checkoutdata");
    const data = res.data;
    console.log(data);
    return data;
  };

  async function buildPaymentRequest(payments) {
    const cart = await Data();
    const total = cart[0].totals;
    return payments.paymentRequest({
      countryCode: "US",
      currencyCode: "USD",
      total: {
        amount: total,
        label: "Total",
      },
    });
  }

  async function initializeGiftCard(payments) {
    const giftCard = await payments.giftCard();
    await giftCard.attach("#gift-card-container");
    return giftCard;
  }
  async function initializeCard(payments) {
    const card = await payments.card();
    await card.attach("#card-container");
    return card;
  }
  async function initializeGooglePay(payments) {
    const paymentRequest = buildPaymentRequest(payments);
    const googlePay = await payments.googlePay(paymentRequest);
    await googlePay.attach("#google-pay-button");

    return googlePay;
  }
  async function initializeApplePay(payments) {
    const paymentRequest = buildPaymentRequest(payments);
    const applePay = await payments.applePay(paymentRequest);
    // Note: You do not need to `attach` applePay.
    return applePay;
  }
  // verificationToken can be undefined, as it does not apply to all payment methods.
  async function createPayment(token, verificationToken) {
    const cart = await Data();
    const total = cart[0].totals;
    const bodyParameters = {
      locationId,
      sourceId: token,
      price: total,
    };

    if (verificationToken !== undefined) {
      bodyParameters.verificationToken = verificationToken;
    }

    const body = JSON.stringify(bodyParameters);

    const paymentResponse = await fetch("/payment", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body,
    });

    if (paymentResponse.ok) {
      return paymentResponse.json();
    }

    const errorBody = await paymentResponse.text();
    throw new Error(errorBody);
  }

  async function tokenize(paymentMethod) {
    const tokenResult = await paymentMethod.tokenize();
    if (tokenResult.status === "OK") {
      return tokenResult.token;
    } else {
      let errorMessage = `Tokenization failed with status: ${tokenResult.status}`;
      if (tokenResult.errors) {
        errorMessage += ` and errors: ${JSON.stringify(tokenResult.errors)}`;
      }

      throw new Error(errorMessage);
    }
  }

  // status is either SUCCESS or FAILURE;
  function displayPaymentResults(status) {
    const statusContainer = document.getElementById("payment-status-container");
    if (status === "SUCCESS") {
      statusContainer.classList.remove("is-failure");
      statusContainer.classList.add("is-success");
    } else {
      statusContainer.classList.remove("is-success");
      statusContainer.classList.add("is-failure");
    }

    statusContainer.style.visibility = "visible";
  }

  async function verifyBuyer(payments, token) {
    const cart = await Data();
    const total = cart[0].totals;
    const billing = cart[1].Billing;
    const verificationDetails = {
      amount: `${total}`,
      billingContact: {
        addressLines: [billing.address, billing.address2],
        lastName: billing.lastname,
        firstName: billing.firstname,
        email: cart[1].email,
        country: billing.country,
        phone: billing.phone,
        state: billing.state,
        city: billing.city,
        zip: billing.zip,
      },
      currencyCode: "USD",
      intent: "CHARGE",
    };
    console.log("verify", verificationDetails);
    const verificationResults = await payments.verifyBuyer(
      token,
      verificationDetails
    );
    return verificationResults.token;
  }

  document.addEventListener("DOMContentLoaded", async function () {
    if (!window.Square) {
      throw new Error("Square.js failed to load properly");
    }

    let payments;
    try {
      payments = window.Square.payments(appId, locationId);
    } catch {
      const statusContainer = document.getElementById(
        "payment-status-container"
      );
      statusContainer.className = "missing-credentials";
      statusContainer.style.visibility = "visible";
      return;
    }

    let card;
    try {
      card = await initializeCard(payments);
    } catch (e) {
      console.error("Initializing Card failed", e);
      return;
    }
    let giftCard;
    try {
      giftCard = await initializeGiftCard(payments);
    } catch (e) {
      console.error("Initializing Gift Card failed", e);
    }
    // let applePay;
    // try {
    //   applePay = await initializeApplePay(payments);
    // } catch (e) {
    //   console.error("Initializing Apple Pay failed", e);
    //   // There are a number of reason why Apple Pay may not be supported
    //   // (e.g. Browser Support, Device Support, Account). Therefore you should handle
    //   // initialization failures, while still loading other applicable payment methods.
    // }
    // let googlePay;
    // try {
    //   googlePay = await initializeGooglePay(payments);
    // } catch (e) {
    //   console.error("Initializing Google Pay failed", e);
    //   // There are a number of reason why Google Pay may not be supported
    //   // (e.g. Browser Support, Device Support, Account). Therefore you should handle
    //   // initialization failures, while still loading other applicable payment methods.
    // }

    async function handlePaymentMethodSubmission(
      event,
      paymentMethod,
      shouldVerify = false
    ) {
      event.preventDefault();

      try {
        // disable the submit button as we await tokenization and make a payment request.
        cardButton.disabled = true;
        giftCardButton.disabled = true;
        const token = await tokenize(paymentMethod);
        let verificationToken;

        if (shouldVerify) {
          verificationToken = await verifyBuyer(payments, token);
        }

        const paymentResults = await createPayment(token, verificationToken);

        displayPaymentResults("SUCCESS");
        console.debug("Payment Success", paymentResults);
      } catch (e) {
        cardButton.disabled = false;
        displayPaymentResults("FAILURE");
        giftCardButton.disabled = false;
        console.error(e.message);
      }
    }
    // if (applePay) {
    //   const applePayButton = document.getElementById("apple-pay-button");
    //   applePayButton.addEventListener("click", async function (event) {
    //     await handlePaymentMethodSubmission(event, applePay);
    //   });
    // }
    // if (googlePay) {
    //   const googlePayButton = document.getElementById("google-pay-button");
    //   googlePayButton.addEventListener("click", async function (event) {
    //     await handlePaymentMethodSubmission(event, googlePay);
    //   });
    // }
    const giftCardButton = document.getElementById("gift-card-button");
    giftCardButton.addEventListener("click", async function (event) {
      await handlePaymentMethodSubmission(event, giftCard);
    });
    const cardButton = document.getElementById("card-button");
    cardButton.addEventListener("click", async function (event) {
      // SCA only needs to be run for Card Payments. All other payment methods can be set to false.
      handlePaymentMethodSubmission(event, card, true);
    });
  });
</script>
<div>
  <button id="gift-card-button" type="button">Pay with Gift Card</button>
  <!-- <button id="apple-pay-button" class="apple-pay-button apple-pay-button-black">
    Apple Pay
  </button>
  <button id="apple-pay-button" class="apple-pay-button apple-pay-button-black">
    Google Pay
  </button> -->
</div>

<div class="formbg-outer mb-4 mt-4">
  <div class="formbg">
    <div class="formbg-inner padding-horizontal--48">
      <h3>Payment</h3>
      <form id="payment-form">
        <div id="gift-card-container"></div>
        <button id="gift-card-button" type="button">Pay with Gift Card</button>
        <!-- <button
          id="apple-pay-button"
          class="apple-pay-button apple-pay-button-black"
        >
          Apple Pay
        </button>
        <button
          id="google-pay-button"
          class="apple-pay-button apple-pay-button-black"
        >
          Google Pay
        </button> -->
        <div id="card-container"></div>
        <button id="card-button" type="button">Pay $1.00</button>
      </form>
      <div id="payment-status-container"></div>
    </div>
  </div>
</div>
