<link
  rel="stylesheet"
  type="text/css"
  href="https://www.paypalobjects.com/webstatic/en_US/developer/docs/css/cardfields.css"
/>
<script
  src="https://www.paypal.com/sdk/js?components=buttons,hosted-fields&client-id=<%=clientId%>"
  data-client-token="<%=clientToken%>"
></script>

<div class="my_payment_container" style="max-width: 500px; padding: 20px">
  <div id="paypal-button-container"></div>
</div>
<div>or</div>
<hr />
<script src="js/paypal.js"></script>
