/* Show CSS */
.product {
  height: 90vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin: auto;
  padding: 30px;
  gap: 3rem;
}
.cart-data {
  max-width: 33rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 20px;
}
.card-data,
p {
  font-size: 30px;
}
.imgPro {
  height: fit-content;
  width: 100%;
  object-fit: cover;
}
.qty {
  width: 5rem;
  height: 3rem;
  border-radius: 20px;
  text-align: center;
}
.qty-wrap {
  display: flex;
  align-items: center;
}
.qty-wrap span {
  padding: 15px;
}
.car {
  width: 40vw;
}
.title {
  font-size: 3rem;
  padding-bottom: 20px;
  margin-top: 0;
}
.text {
  font-size: 1.23rem;
}
.reviews {
  display: flex;
  /* align-items: center; */
  justify-self: auto;
  flex-direction: column;
  padding: 20px;
  width: 70vw;
  /* background-color: aquamarine; */
}
.price {
  padding-top: 0;
  padding-bottom: 10px;
}

/* Cart CSS */

.itemContainer {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  height: 40vh;
  width: 40vw;
  overflow: hidden;
  align-items: center;
  border: 1px;
  border-style: solid;
  border-left: 0;
  border-right: 0;
}

.itemImg img {
  height: 30vh;
  width: 20vw;
  object-fit: cover;
  padding-left: 30px;
  padding-right: 30px;
}
.cartData {
  max-height: 15rem;
  width: 100%;
}
.cartData p {
  font-size: 20px;
}
.checkoutCon {
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(226, 222, 222);
  height: 50vh;
  width: 60vh;
  left: 60vw;
  bottom: 22vh;
  border-radius: 12px;
}
.cartCon {
  display: flex;
}
.cartDel {
  padding-right: 20px;
  float: right;
}
.cost {
  padding: 20px;
  font-size: 25px;
  text-decoration: underline;
}

/* Checkout CSS */

.checkoutContainer {
  display: flex;
  width: 100%;
}
.formContainer {
  width: 40vw;
  text-align: center;
  border-radius: 12px;
}
.name {
  display: flex;
  gap: 5px;
  align-items: baseline;
}

.orderSummary {
  text-align: center;
  width: 35rem;
  margin: 30px;
  border-radius: 12px;
  position: relative;
}
.order {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  padding: 20px;
}
.pickupP p {
  font-size: 19px;
  line-height: 20px;
}
.form-check {
  padding: 20px;
  padding-left: 30px;
}

.orderInner {
  margin: 0px auto;
  z-index: 10;
  position: sticky;
  top: 25vh;
  max-width: 35vw;
  max-height: 30rem;
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 100%;
  background: white;
  border-radius: 4px;
  box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px,
    rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}
#style-1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

#style-1::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
@media (max-device-width: 390px) {
  .checkoutCon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-navigation);
    height: 52vh;
    color: white;
    min-width: 65vh;
    margin-left: 100px;
    bottom: 21vh;
    border-radius: 12px;
  }

  .itemImg img {
    height: 30vh;
    width: 56vw;
    object-fit: cover;
    padding-left: -48px;
    margin-left: -5px;
  }

  .itemContainer {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    display: flex;
    height: 40vh;
    width: 119vw;
    overflow: hidden;
    align-items: center;
    border: 1px;
    border-style: solid;
    border-left: 0;
    border-right: 0;
  }

  /* .orderSummary {
    text-align: center;
    width: 176vw;
    margin-top: 26px;
    border-radius: 12px;
    background-color: aliceblue;
    padding: 30px;
  } */
}

@media (max-device-width: 360px) {
  .checkoutCon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-navigation);
    height: 52vh;
    color: white;
    min-width: 65vh;
    margin-left: 100px;
    bottom: 21vh;
    border-radius: 12px;
  }

  .itemImg img {
    height: 30vh;
    width: 56vw;
    object-fit: cover;
    padding-left: -48px;
    margin-left: -5px;
  }

  .itemContainer {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 54px;
    display: flex;
    height: 40vh;
    width: 119vw;
    overflow: hidden;
    align-items: center;
    border: 1px;
    border-style: solid;
    border-left: 0;
    border-right: 0;
  }

  /* .orderSummary {
    text-align: center;
    width: 176vw;
    position: auto;
    margin-top: -11px;
    margin-left: 163px;
    border-radius: 12px;
    background-color: aliceblue;
    padding: 30px;
  } */
}

@media (max-device-width: 375px) {
  .checkoutCon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-navigation);
    height: 52vh;
    color: white;
    min-width: 65vh;
    margin-left: 100px;
    bottom: 21vh;
    border-radius: 12px;
  }

  .itemImg img {
    height: 30vh;
    width: 56vw;
    object-fit: cover;
    padding-left: -48px;
    margin-left: -5px;
  }

  .itemContainer {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 54px;
    display: flex;
    height: 40vh;
    width: 119vw;
    overflow: hidden;
    align-items: center;
    border: 1px;
    border-style: solid;
    border-left: 0;
    border-right: 0;
  }

  /* .orderSummary {
    text-align: center;
    width: 176vw;
    position: auto;
    margin-top: -11px;
    margin-left: 163px;
    border-radius: 12px;
    background-color: aliceblue;
    padding: 30px;
  } */
}
@media (max-device-width: 411px) {
  .padding-horizontal--48 {
    padding: 160px;
    min-width: 740px;
  }

  .formbg {
    margin: -71px auto;
    width: 100%;
    max-width: 622px;
    background: white;
    border-radius: 4px;
    box-shadow: rgb(60 66 87 / 12%) 0px 7px 14px 0px,
      rgb(0 0 0 / 12%) 0px 3px 6px 0px;
  }

  .formContainer {
    width: 35vw;
    text-align: center;
    width: 165vw;
    margin: 30px;
    border-radius: 12px;
    background-color: aliceblue;
  }
  .checkoutCon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-navigation);
    height: 39vh;
    color: white;
    min-width: 65vh;
    margin-left: 100px;
    bottom: 21vh;
    border-radius: 12px;
  }

  .itemImg img {
    height: 30vh;
    width: 56vw;
    object-fit: cover;
    padding-left: -48px;
    margin-left: -5px;
  }

  .itemContainer {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: -4px;
    display: flex;
    height: 40vh;
    width: 119vw;
    overflow: hidden;
    align-items: center;
    border: 1px;
    border-style: solid;
    border-left: 0;
    border-right: 0;
  }

  /* .orderSummary {
    text-align: center;
    width: 176vw;
    position: auto;
    margin-top: -11px;
    margin-left: 163px;
    border-radius: 12px;
    background-color: aliceblue;
    padding: 30px;
  } */
}
@media (max-device-width: 765px) {
  .padding-horizontal--48 {
    padding: 160px;
    min-width: 740px;
  }
  .formbg {
    margin: -71px auto;
    width: 100%;
    max-width: 622px;
    background: white;
    border-radius: 4px;
    box-shadow: rgb(60 66 87 / 12%) 0px 7px 14px 0px,
      rgb(0 0 0 / 12%) 0px 3px 6px 0px;
  }
  .checkoutCon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-navigation);
    height: 52vh;
    color: white;
    min-width: 65vh;
    margin-left: 100px;
    bottom: 21vh;
    border-radius: 12px;
  }

  .itemImg img {
    height: 30vh;
    width: 56vw;
    object-fit: cover;
    padding-left: -48px;
    margin-left: -5px;
  }

  .itemContainer {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    display: flex;
    height: 40vh;
    width: 119vw;
    overflow: hidden;
    align-items: center;
    border: 1px;
    border-style: solid;
    border-left: 0;
    border-right: 0;
  }

  /* .orderSummary {
    text-align: center;
    width: 176vw;
    margin-top: 26px;
    margin-left: 8px;
    border-radius: 12px;
    background-color: aliceblue;
    padding: 30px;
  } */
}
@media (max-device-width: 1366px) {
  .padding-horizontal--48 {
    padding: 160px;
    min-width: 740px;
  }
  .formbg {
    margin: -71px auto;
    width: 100%;
    max-width: 622px;
    background: white;
    border-radius: 4px;
    box-shadow: rgb(60 66 87 / 12%) 0px 7px 14px 0px,
      rgb(0 0 0 / 12%) 0px 3px 6px 0px;
  }
  .checkoutCon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-navigation);
    height: 52vh;
    color: white;
    min-width: 65vh;
    margin-left: 100px;
    bottom: 21vh;
    border-radius: 12px;
  }

  .itemImg img {
    height: 30vh;
    width: 56vw;
    object-fit: cover;
    padding-left: -48px;
    margin-left: -5px;
  }

  .itemContainer {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    display: flex;
    height: 40vh;
    width: 119vw;
    overflow: hidden;
    align-items: center;
    border: 1px;
    border-style: solid;
    border-left: 0;
    border-right: 0;
  }

  /* .orderSummary {
    text-align: center;
    width: 176vw;
    margin-top: 26px;
    margin-left: 10x;
    border-radius: 12px;
    background-color: aliceblue;
    padding: 30px;
  } */
}
