@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap");
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  scroll-behavior: smooth;
  list-style: none;
  box-sizing: border-box;
  word-wrap: break-word;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Ubuntu, sans-stripefserif;
}
:root {
  --color-background: rgb(240, 240, 240);
  --color-black: rgb(0, 0, 0);
  --color-white: #fff;
  --color-after: rgb(61, 117, 213);
  --color-error: red;
  --color-navigation: rgb(3, 66, 108);
  --color-navigation2: rgb(25, 37, 96);
  --transition: all 500ms ease-in;
  --container-width-all: 80%;
  --container-width-ph: 90%;
  --color-btn: rgb(14, 83, 129);
  --color-forms: linear-gradient(135deg, #060b27, #584391);
  --color-text: rgb(2, 2, 55);
}
body {
  width: 100vw;
  height: 100vh;
  font-family: "Sawarabi Mincho", serif;
  font-size: 0.88rem;
  background: var(--color-background);
  user-select: none;
  overflow-x: hidden;
  color: var(--color-text);
}
.container {
  max-width: var(--container-width-all);
  margin: 0 auto;
}
section {
  position: relative;
  top: 4rem;
  max-width: var(--container-width-all);
  margin: 0 auto;
  padding: 6vh 0;
}
header {
  padding: 6vh 0;
  position: relative;
  top: 3rem;
  overflow: hidden;
  height: 100vh;
}
section h2 {
  margin-bottom: 30px;
  text-align: center;
  font-size: 3rem;
}
a {
  color: #5469d4;
  text-decoration: unset;
  font-family: "Lora", serif;
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-weight: 600;
  font-size: clamp(1rem, 5vw, 3rem);
  text-align: center;
  font-family: "Sawarabi Mincho", serif;
  padding: 25px;
  color: #192256;
}

h2 {
  font-size: clamp(0.75rem, 5vw, 2rem);
  font-family: "Lora", serif;
}

h3 {
  font-size: clamp(0.5rem, 5vw, 2rem);
  font-family: "Lora", serif;
}

h4 {
  font-size: 0.8rem;
  font-weight: 800;
}

h5 {
  font-size: 0.77rem;
}

small {
  font-size: 0.75rem;
}
p {
  font-family: "Lora", serif;
  line-height: 1.5;
  font-size: 12px;
}
img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.mainImg img {
  display: block;
  width: 100%;
  object-fit: cover;
  height: 85vh;
  object-position: center;
}
.btn {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}

.btn:hover {
  background-color: transparent;
  color: var(--color-navigation2);
}
/* Footer CSS */
.footer {
  background-color: var(--color-navigation);
  position: relative;
  bottom: 0;
  top: 3rem;
  color: var(--color-white);
  min-height: 20rem;
  overflow: hidden;
  width: 100%;
}

.foot img {
  max-width: 10rem;
  padding-bottom: 20px;
}
.foot p {
  font-size: 20px;
}
.footItem {
  display: flex;
  flex-direction: column;
  max-width: 15rem;
  padding: 10px;
}
.footIcons a {
  padding-left: 10px;
  color: rgb(255, 255, 255);
}
.footItem a {
  padding-left: 10px;
  color: rgb(255, 255, 255);
}
.footItem a:hover {
  transition: var(--transition);
  color: var(--color-text);
}
/* NAV BARR */
nav {
  width: 100%;
  min-height: 6rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: 0.5s;
  display: flex;
}
.navigationConScroll {
  background-color: var(--color-navigation);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.781);
}
/* Styling Logo*/
.logo {
  padding: 20px;
}
.logo img {
  max-width: 17rem;
  height: 3rem;
}
.logo img:hover {
  text-shadow: 1px 1px 2px rgb(41, 26, 26), 0 0 1em rgb(43, 43, 58),
    0 0 0.2em rgb(210, 210, 237);
  max-width: 19rem;
  height: 3.5rem;
  transition: var(--transition);
}

/* Styling Navigation Links*/

.nav-links {
  width: 80vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-transform: uppercase;
  list-style: none;
}
.links-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-links li a {
  color: rgb(255, 255, 255);
  font-size: 20px;
  padding: 20px;
}

.nav-links li a:hover {
  text-shadow: 1px 1px 2px rgb(41, 26, 26), 0 0 1em rgb(43, 43, 58),
    0 0 0.2em rgb(117, 117, 126);
  font-size: 25px;
  transition: var(--transition);
}

.nav-links li {
  position: relative;
}

.nav-links li a:hover::before {
  width: 80%;
}

/*Navigation Icon Styling*/

.hamburger div {
  width: 30px;
  height: 3px;
  background: #ffffff;
  margin: 5px;
  transition: all 0.3s ease;
}

.hamburger {
  display: none;
}

/*Responsive Adding Media Queries*/

@media screen and (max-width: 800px) {
  nav {
    position: fixed;
    z-index: 3;
  }
  .hamburger {
    display: block;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
    transition: all 0.7s ease;
  }
  .nav-links {
    background: var(--color-navigation);
    position: fixed;
    opacity: 1;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    clip-path: circle(50px at 90% -20%);
    -webkit-clip-path: circle(50px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .links-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
  }
  .nav-links li {
    opacity: 0;
  }
  .nav-links li:nth-child(1) {
    transition: all 0.5s ease 0.2s;
  }
  .nav-links li:nth-child(2) {
    transition: all 0.5s ease 0.4s;
  }
  .nav-links li:nth-child(3) {
    transition: all 0.5s ease 0.6s;
  }
  .nav-links li:nth-child(4) {
    transition: all 0.5s ease 0.7s;
  }
  .nav-links li:nth-child(5) {
    transition: all 0.5s ease 0.8s;
  }
  .nav-links li:nth-child(6) {
    transition: all 0.5s ease 0.9s;
    margin: 0;
  }
  .nav-links li:nth-child(7) {
    transition: all 0.5s ease 1s;
    margin: 0;
  }
  li.fade {
    opacity: 1;
  }
  .fade:not(.show) {
    opacity: 1;
  }
  /* Navigation Bar Icon on Click*/

  .toggle .bars1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .toggle .bars2 {
    transition: all 0s ease;
    width: 0;
  }

  .toggle .bars3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
/* Howe page */

.homeCatch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 30px;
  align-items: center;
  position: static;
}
.homeCatch p {
  font-size: clamp(0.5rem, 10vw, 2rem);
}
.homeShop {
  padding-top: 27px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
}
.homeClick {
  min-width: 100%;
  height: 40rem;
  overflow: hidden;
}
.homeClick img {
  transition: transform 0.2s;
  transition: var(--transition);
  width: 100%;
  height: 40rem;
  object-fit: cover;
}
.homeClick img:hover {
  transition-delay: 2s;
  transform: scale(1.5);
}
.wrapper {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #ffffff;
}
.shopBtn {
  max-width: 22rem;
  min-width: 18rem;
  min-height: 5rem;
  background: linear-gradient(to left top, #2c8ec3 50%, #376fb3 50%);
  border-style: none;
  color: #fff;
  font-size: 2rem;
  font-weight: bolder;
  letter-spacing: 3px;
  font-family: "Lato";
  font-weight: 500;
  outline: none;
  cursor: pointer;

  position: relative;
  padding: 0px;
  overflow: hidden;
  transition: all 0.5s;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}
.shopBtn span {
  position: absolute;
  display: block;
}
.shopBtn span:nth-child(1) {
  height: 3px;
  width: 200px;
  top: 0px;
  left: -200px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), #f6e58d);
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  animation: span1 2s linear infinite;
  animation-delay: 1s;
}

@keyframes span1 {
  0% {
    left: -200px;
  }
  100% {
    left: 200px;
  }
}
.shopBtn span:nth-child(2) {
  height: 70px;
  width: 3px;
  top: -70px;
  right: 0px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #f6e58d);
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  animation: span2 2s linear infinite;
  animation-delay: 2s;
}
@keyframes span2 {
  0% {
    top: -70px;
  }
  100% {
    top: 70px;
  }
}
.shopBtn span:nth-child(3) {
  height: 3px;
  width: 200px;
  right: -200px;
  bottom: 0px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0), #f6e58d);
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  animation: span3 2s linear infinite;
  animation-delay: 3s;
}
@keyframes span3 {
  0% {
    right: -200px;
  }
  100% {
    right: 200px;
  }
}

.shopBtn span:nth-child(4) {
  height: 70px;
  width: 3px;
  bottom: -70px;
  left: 0px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0), #f6e58d);
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
  animation: span4 2s linear infinite;
  animation-delay: 4s;
}
@keyframes span4 {
  0% {
    bottom: -70px;
  }
  100% {
    bottom: 70px;
  }
}

.shopBtn:hover {
  transition: all 0.5s;
  transform: rotate(-3deg) scale(1.1);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
}
.shopBtn:hover span {
  animation-play-state: paused;
}

.cardContainerH {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  max-width: 100%;
}
.cardShapeH {
  margin-bottom: 20px;
  margin-top: 20px;
  width: 17rem;
  min-height: 24rem;
  border-radius: 0%;
}
.containerBlog {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  grid-template-rows: auto;
  place-items: center;
}
@media screen and (min-width: 220px) {
  .cardContainerH {
    grid-template-columns: 1fr;
  }
  .containerBlog {
    grid-template-columns: 1fr;
  }
  .foot {
    display: grid;
    padding: 25px 0;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .cardContainerH {
    grid-template-columns: 1fr 1fr;
  }
  .containerBlog {
    grid-template-columns: 1fr 1fr;
  }
  .foot {
    gap: 20px;
    padding: 25px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .cardContainerH {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .foot {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1327px) {
  .cardContainerH {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .containerBlog {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Forms CSS */
.login-root {
  background: #fff;
  display: flex;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}
.loginbackground {
  min-height: 692px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 0;
  overflow: hidden;
}
.flex-flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.center-center {
  align-items: center;
  justify-content: center;
}
.box-root {
  box-sizing: border-box;
}
.flex-direction--column {
  -ms-flex-direction: column;
  flex-direction: column;
}
.padding-top--64 {
  padding-top: 64px;
}
.padding-top--24 {
  padding-top: 24px;
}
.padding-top--48 {
  padding-top: 48px;
}
.padding-bottom--24 {
  padding-bottom: 24px;
}
.padding-horizontal--48 {
  padding: 48px;
}
.padding-bottom--15 {
  padding-bottom: 15px;
}

.flex-justifyContent--center {
  -ms-flex-pack: center;
  justify-content: center;
}

.formbg {
  margin: 0px auto;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background: white;
  border-radius: 4px;
  box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px,
    rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}
span {
  display: block;
  font-size: 20px;
  line-height: 28px;
  color: #1a1f36;
}
label {
  margin-bottom: 10px;
}
.reset-pass a,
label {
  font-size: 14px;
  font-weight: 600;
  display: block;
}
.reset-pass > a {
  text-align: right;
  margin-bottom: 10px;
}
.grid--50-50 {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}

.field input {
  font-size: 16px;
  line-height: 28px;
  padding: 8px 16px;
  width: 100%;
  min-height: 44px;
  border: unset;
  border-radius: 4px;
  outline-color: rgb(84 105 212 / 0.5);
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}
input[type="checkbox"] {
  appearance: checkbox !important;
}

input[type="text"] {
  font-size: 16px;
  line-height: 28px;
  padding: 8px 16px;
  width: 100%;
  text-align: center;
  min-height: 44px;
  border: unset;
  border-radius: 4px;
  outline-color: rgb(84 105 212 / 0.5);
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}
.form-control {
  font-size: 16px;
  line-height: 28px;
  padding: 8px 16px;
  width: 100%;
  min-height: 44px;
  border: unset;
  border-radius: 4px;
  outline-color: rgb(84 105 212 / 0.5);
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}
input[type="submit"] {
  background-color: rgb(84, 105, 212);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, rgb(84, 105, 212) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
.field-checkbox input {
  width: 20px;
  height: 15px;
  margin-right: 5px;
  box-shadow: unset;
  min-height: unset;
}
.field-checkbox label {
  display: flex;
  align-items: center;
  margin: 0;
}
a.ssolink {
  display: block;
  text-align: center;
  font-weight: 600;
}
.footer-link span {
  font-size: 14px;
  text-align: center;
}
.listing a {
  color: #697386;
  font-weight: 600;
  margin: 0 10px;
}
.formControl small {
  color: #e74c3c;
  visibility: hidden;
}

.formControl.error small {
  visibility: visible;
}
.formControl.success small {
  color: #3ce750;
  visibility: visible;
}

/* Payment Form */
.my_payment_container {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 20px;
  max-width: 760px;
  width: 100%;
  margin: 0 auto;
}

/* google btn */

.google-btn {
  width: 100%;
  height: 42px;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
}
.google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  font-size: 26px;
  text-align: center;
  border-radius: 2px;
  background-color: #fff;
}
.google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: 11px;
  width: 18px;
  height: 18px;
}
.btn-text {
  text-align: center;
  padding-top: 10px;
  color: white;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: "Roboto";
}
.google-btn :hover {
  box-shadow: 0 0 6px #4285f4;
}
.google-btn :active {
  background: #1669f2;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:500);
.privacy-policy {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  justify-self: center;
  align-content: center;
}
.privacy-policy p {
  font-size: 15px;
}

.stardiv {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
