@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap");
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  word-wrap: break-word;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Ubuntu, sans-stripefserif;
}
:root {
  --color-background: rgb(240, 240, 240);
  --color-black: rgb(0, 0, 0);
  --color-white: #fff;
  --color-after: rgb(61, 117, 213);
  --color-error: red;
  --color-navigation: rgb(3, 66, 108);
  --color-navigation2: rgb(25, 37, 96);
  --transition: all 500ms ease-in;
  --container-width-all: 80%;
  --container-width-ph: 90%;
  --color-btn: rgb(14, 83, 129);
  --color-forms: linear-gradient(135deg, #060b27, #584391);
  --color-text: rgb(2, 2, 55);
}
body {
  min-height: 100%;
  font-family: poppins, sans-serif;
  font-size: 0.88rem;
  background-color: var(--color-background);
  color: var(--color-text);
}
.container {
  width: var(--container-width-all);
  margin: 0 auto;
}
section {
  position: relative;
  top: 4rem;
  padding: 6vh 0;
}
header {
  padding: 6vh 0;
  position: relative;
  top: 3rem;
  overflow: hidden;
  height: 100vh;
}
section h2 {
  margin-bottom: 30px;
  text-align: center;
  font-size: 3rem;
}
a {
  color: #5469d4;
  text-decoration: unset;
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
  font-family: "Leckerli One", cursive;
  padding: 25px;
  color: #192256;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 0.87rem;
}

h4 {
  font-size: 0.8rem;
}

h5 {
  font-size: 0.77rem;
}

small {
  font-size: 0.75rem;
}
p {
  line-height: 1.5;
  font-size: 12px;
}
img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.mainImg img {
  display: block;
  width: 100%;
  object-fit: fill;
  height: 85vh;
  width: 100vw;
}
.btn {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}

.btn:hover {
  background-color: transparent;
  color: var(--color-navigation2);
}
/* Footer CSS */
.footer {
  background-color: var(--color-navigation);
  position: relative;
  bottom: 0;
  top: 3rem;
  color: var(--color-white);
  height: 20rem;
  overflow: hidden;
}
.foot {
  display: flex;
  gap: 20px;
  padding: 25px;
  justify-content: space-between;
}
.foot img {
  width: 10rem;
  padding-bottom: 20px;
}
.foot p {
  font-size: 20px;
}
.footItem {
  display: flex;
  flex-direction: column;
  width: 15rem;
  padding: 10px;
}
.footIcons a {
  padding-left: 10px;
  color: rgb(255, 255, 255);
}
.footItem a {
  padding-left: 10px;
  color: rgb(255, 255, 255);
}
.footItem a:hover {
  transition: var(--transition);
  color: var(--color-text);
}
/* Navigation Bar */
.navigationCon {
  width: 100%;
  height: 6rem;
  position: fixed;
  top: 0;
  z-index: 1000;
}
.navigationConScroll {
  background-color: var(--color-navigation);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.781);
}

.mainNavigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
body,
html {
  height: 100%;
  margin: 0;
}
.navContent {
  width: 25rem;
  text-align: center;
}
.navContent a {
  color: rgb(255, 255, 255);
  font-size: 20px;
  padding: 20px;
}
.navContent a:hover {
  text-shadow: 1px 1px 2px rgb(41, 26, 26), 0 0 1em rgb(43, 43, 58),
    0 0 0.2em rgb(117, 117, 126);
  font-size: 25px;
  transition: var(--transition);
}
.logo img {
  width: 17rem;
  height: 3rem;
}
.logo img:hover {
  text-shadow: 1px 1px 2px rgb(41, 26, 26), 0 0 1em rgb(43, 43, 58),
    0 0 0.2em rgb(210, 210, 237);
  width: 19rem;
  height: 3.5rem;
  transition: var(--transition);
}
.bg {
  height: 85vh;
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: -1;
  overflow: hidden;
  object-fit: fill;
}

/* Howe page */

.homeCatch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 30px;
  align-items: center;
  position: static;
}
.homeCatch p {
  font-size: 20px;
}
.homeShop {
  padding-top: 27px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
}
.homeClick {
  width: 100%;
  max-height: 40rem;
  overflow: hidden;
}
.homeClick img {
  transition: transform 0.2s;
  transition: var(--transition);
  width: 100%;
  max-height: 40rem;
  object-fit: cover;
}
.homeClick img:hover {
  transition-delay: 2s;
  transform: scale(1.5);
}
.wrapper {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #ffffff;
}
.shopBtn {
  width: 20rem;
  height: 5rem;
  background: linear-gradient(to left top, #2c8ec3 50%, #376fb3 50%);
  border-style: none;
  color: #fff;
  font-size: 40px;
  font-weight: bolder;
  letter-spacing: 3px;
  font-family: "Lato";
  font-weight: 500;
  outline: none;
  cursor: pointer;
  position: relative;
  padding: 0px;
  overflow: hidden;
  transition: all 0.5s;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}
.shopBtn span {
  position: absolute;
  display: block;
}
.shopBtn span:nth-child(1) {
  height: 3px;
  width: 200px;
  top: 0px;
  left: -200px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), #f6e58d);
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  animation: span1 2s linear infinite;
  animation-delay: 1s;
}

@keyframes span1 {
  0% {
    left: -200px;
  }
  100% {
    left: 200px;
  }
}
.shopBtn span:nth-child(2) {
  height: 70px;
  width: 3px;
  top: -70px;
  right: 0px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #f6e58d);
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  animation: span2 2s linear infinite;
  animation-delay: 2s;
}
@keyframes span2 {
  0% {
    top: -70px;
  }
  100% {
    top: 70px;
  }
}
.shopBtn span:nth-child(3) {
  height: 3px;
  width: 200px;
  right: -200px;
  bottom: 0px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0), #f6e58d);
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  animation: span3 2s linear infinite;
  animation-delay: 3s;
}
@keyframes span3 {
  0% {
    right: -200px;
  }
  100% {
    right: 200px;
  }
}

.shopBtn span:nth-child(4) {
  height: 70px;
  width: 3px;
  bottom: -70px;
  left: 0px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0), #f6e58d);
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
  animation: span4 2s linear infinite;
  animation-delay: 4s;
}
@keyframes span4 {
  0% {
    bottom: -70px;
  }
  100% {
    bottom: 70px;
  }
}

.shopBtn:hover {
  transition: all 0.5s;
  transform: rotate(-3deg) scale(1.1);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
}
.shopBtn:hover span {
  animation-play-state: paused;
}

/* Forms CSS */
.login-root {
  background: #fff;
  display: flex;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}
.loginbackground {
  min-height: 692px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 0;
  overflow: hidden;
}
.flex-flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.center-center {
  align-items: center;
  justify-content: center;
}
.box-root {
  box-sizing: border-box;
}
.flex-direction--column {
  -ms-flex-direction: column;
  flex-direction: column;
}
.padding-top--64 {
  padding-top: 64px;
}
.padding-top--24 {
  padding-top: 24px;
}
.padding-top--48 {
  padding-top: 48px;
}
.padding-bottom--24 {
  padding-bottom: 24px;
}
.padding-horizontal--48 {
  padding: 48px;
}
.padding-bottom--15 {
  padding-bottom: 15px;
}

.flex-justifyContent--center {
  -ms-flex-pack: center;
  justify-content: center;
}

.formbg {
  margin: 0px auto;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background: white;
  border-radius: 4px;
  box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px,
    rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}
span {
  display: block;
  font-size: 20px;
  line-height: 28px;
  color: #1a1f36;
}
label {
  margin-bottom: 10px;
}
.reset-pass a,
label {
  font-size: 14px;
  font-weight: 600;
  display: block;
}
.reset-pass > a {
  text-align: right;
  margin-bottom: 10px;
}
.grid--50-50 {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}

.field input {
  font-size: 16px;
  line-height: 28px;
  padding: 8px 16px;
  width: 100%;
  min-height: 44px;
  border: unset;
  border-radius: 4px;
  outline-color: rgb(84 105 212 / 0.5);
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

input[type="submit"] {
  background-color: rgb(84, 105, 212);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, rgb(84, 105, 212) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(60, 66, 87, 0.08) 0px 2px 5px 0px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
.field-checkbox input {
  width: 20px;
  height: 15px;
  margin-right: 5px;
  box-shadow: unset;
  min-height: unset;
}
.field-checkbox label {
  display: flex;
  align-items: center;
  margin: 0;
}
a.ssolink {
  display: block;
  text-align: center;
  font-weight: 600;
}
.footer-link span {
  font-size: 14px;
  text-align: center;
}
.listing a {
  color: #697386;
  font-weight: 600;
  margin: 0 10px;
}
.formControl small {
  color: #e74c3c;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.formControl.error small {
  visibility: visible;
}

/* Payment Form */
.my_payment_container {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 20px;
  max-width: 760px;
  width: 100%;
  margin: 0 auto;
}

@media (max-device-width: 390px) {
  .homeShop {
    padding: 0px;
    height: 20rem;
    width: 225px;
    display: flex;
    gap: 0px;
    align-items: baseline;
  }
  .homeClick img {
    border: 5px solid rgb(222, 222, 222);
    width: 225px;
    height: 20rem;
    object-fit: fill;
  }

  .navContent {
    width: 55%;
    text-align: left;
  }

  .formbg-outer {
    margin: 10px;
  }
  .navContent a {
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 5px;
  }
  .logo img {
    width: 10rem;
    height: 0.9rem;
    margin-left: 0px;
    margin: 5px;
  }

  /*For About Page*/

  .address {
    text-align: center;
    position: relative;
  }

  .footItem {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0px;
    margin: 0px;
  }

  .formbg {
    margin: 0px auto;
    width: fit-content;
    max-width: 702px;
    background: white;
    border-radius: 4px;
    box-shadow: rgb(60 66 87 / 12%) 0px 7px 14px 0px,
      rgb(0 0 0 / 12%) 0px 3px 6px 0px;
  }

  .footer {
    background-color: var(--color-navigation);
    position: relative;
    bottom: 0;
    top: 8rem;
    color: var(--color-white);
    height: 20rem;
    overflow: hidden;
    margin-left: -4px;
  }
  footer.footer {
    margin-top: 30px;
    min-width: 789px;
    width: fit-content;
  }

  .footItem img {
    width: 80px;
    padding: 0px;
    margin-left: -70px;
    margin-top: -20px;
  }

  .padding-horizontal--48 {
    padding: 160px;
    min-width: 740px;
  }

  .footItem div {
    margin-left: -90px;
    padding: 20px;
  }

  .footItem a {
    font-size: 19px;
    margin-left: -30px;
    margin-right: 20px;
    line-height: 35px;
  }

  .footIcons {
    text-align: right;
    margin-right: -35px;
  }
}

@media (max-device-width: 360px) {
  .homeShop {
    padding: 0px;
    height: 20rem;
    width: 225px;
    display: flex;
    gap: 0px;
    align-items: baseline;
  }
  .homeClick img {
    border: 5px solid rgb(222, 222, 222);
    width: 225px;
    height: 20rem;
    object-fit: fill;
  }
  .formbg-outer {
    margin: 10px;
  }
  .navContent {
    width: 55%;
    text-align: left;
  }
  .navContent a {
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 5px;
  }
  .logo img {
    width: 10rem;
    height: 0.9rem;
    margin-left: 0px;
    margin: 5px;
  }

  .address {
    text-align: center;
    position: relative;
  }

  .footItem {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0px;
    margin: 0px;
  }

  .footer {
    background-color: var(--color-navigation);
    position: relative;
    bottom: 0;
    top: 8rem;
    color: var(--color-white);
    height: 20rem;
    overflow: hidden;
    margin-left: -4px;
  }

  .footItem img {
    width: 80px;
    padding: 0px;
    margin-left: -70px;
    margin-top: -20px;
  }

  .footItem div {
    margin-left: -90px;
    padding: 20px;
  }

  .footItem a {
    font-size: 19px;
    margin-left: -30px;
    margin-right: 20px;
    line-height: 35px;
  }

  .footIcons {
    text-align: right;
    margin-right: -35px;
  }
}
@media (max-device-width: 375px) {
  .homeShop {
    padding: 0px;
    height: 20rem;
    width: 225px;
    display: flex;
    gap: 0px;
    align-items: baseline;
  }
  .homeClick img {
    border: 5px solid rgb(222, 222, 222);
    width: 225px;
    height: 20rem;
    object-fit: fill;
  }
  .formbg-outer {
    margin: 10px;
  }
  .navContent {
    width: 55%;
    text-align: left;
  }
  .navContent a {
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 5px;
  }
  .logo img {
    width: 10rem;
    height: 0.9rem;
    margin-left: 0px;
    margin: 5px;
  }

  .address {
    text-align: center;
    position: relative;
  }

  .footItem {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0px;
    margin: 0px;
  }

  .footer {
    background-color: var(--color-navigation);
    position: relative;
    bottom: 0;
    top: 8rem;
    color: var(--color-white);
    height: 20rem;
    overflow: hidden;
    margin-left: -4px;
  }

  .footItem img {
    width: 80px;
    padding: 0px;
    margin-left: -70px;
    margin-top: -20px;
  }

  .footItem div {
    margin-left: -90px;
    padding: 20px;
  }

  .footItem a {
    font-size: 19px;
    margin-left: -30px;
    margin-right: 20px;
    line-height: 35px;
  }

  .footIcons {
    text-align: right;
    margin-right: -35px;
  }
}

@media (max-device-width: 411px) {
  .homeShop {
    padding: 0px;
    height: 20rem;
    width: 225px;
    display: flex;
    gap: 0px;
    align-items: baseline;
  }
  .homeClick img {
    border: 5px solid rgb(222, 222, 222);
    width: 225px;
    height: 20rem;
    object-fit: fill;
  }

  .formbg-outer {
    margin: 10px;
  }

  .navContent {
    width: 55%;
    text-align: left;
  }
  .navContent a {
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 5px;
  }
  .logo img {
    width: 10rem;
    height: 0.9rem;
    margin-left: 0px;
    margin: 5px;
  }

  .address {
    text-align: center;
    position: relative;
  }

  .footItem {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0px;
    margin: 0px;
  }

  .footer {
    background-color: var(--color-navigation);
    position: relative;
    bottom: 0;
    top: 8rem;
    color: var(--color-white);
    height: 20rem;
    overflow: hidden;
    margin-left: -4px;
    width: 611px;
  }

  .footItem img {
    width: 80px;
    padding: 0px;
    margin-left: -70px;
    margin-top: -20px;
  }

  .footItem div {
    margin-left: -90px;
    padding: 20px;
  }

  .footItem a {
    font-size: 19px;
    margin-left: -30px;
    margin-right: 20px;
    line-height: 35px;
  }

  .footIcons {
    text-align: right;
    margin-right: -35px;
  }
}
@media (max-device-width: 768px) {
  .homeShop {
    padding: 0px;
    height: 20rem;
    width: 225px;
    display: flex;
    gap: 0px;
    align-items: baseline;
  }
  .homeClick img {
    border: 5px solid rgb(222, 222, 222);
    width: 225px;
    height: 20rem;
    object-fit: fill;
  }

  .navContent {
    width: 55%;
    text-align: left;
  }

  .formbg-outer {
    margin: 10px;
  }
  .navContent a {
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 5px;
  }
  .logo img {
    width: 10rem;
    height: 0.9rem;
    margin-left: 0px;
    margin: 5px;
  }

  /*For About Page*/

  .address {
    text-align: center;
    position: relative;
  }

  .footItem {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0px;
    margin: 0px;
  }

  .formbg {
    margin: 0px auto;
    width: fit-content;
    max-width: 702px;
    background: white;
    border-radius: 4px;
    box-shadow: rgb(60 66 87 / 12%) 0px 7px 14px 0px,
      rgb(0 0 0 / 12%) 0px 3px 6px 0px;
  }

  .footer {
    background-color: var(--color-navigation);
    position: relative;
    bottom: 0;
    top: 8rem;
    color: var(--color-white);
    height: 20rem;
    overflow: hidden;
    margin-left: -4px;
  }
  footer.footer {
    margin-top: 13px;
    min-width: 1521px;
    width: fit-content;
  }

  .footItem img {
    width: 80px;
    padding: 0px;
    margin-left: -70px;
    margin-top: -20px;
  }

  .padding-horizontal--48 {
    padding: 160px;
    min-width: 740px;
  }

  .footItem div {
    margin-left: -90px;
    padding: 20px;
  }

  .footItem a {
    font-size: 19px;
    margin-left: -30px;
    margin-right: 20px;
    line-height: 35px;
  }

  .footIcons {
    text-align: right;
    margin-right: -35px;
  }
}

@media (max-device-width: 1366px) {
  .homeShop {
    padding: 0px;
    height: 20rem;
    width: 225px;
    display: flex;
    gap: 0px;
    align-items: baseline;
  }
  .homeClick img {
    border: 5px solid rgb(222, 222, 222);
    width: 225px;
    height: 20rem;
    object-fit: fill;
  }

  .navContent {
    width: 55%;
    text-align: left;
  }
  .navContent a {
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 5px;
  }
  .logo img {
    width: 10rem;
    height: 0.9rem;
    margin-left: 0px;
    margin: 5px;
  }

  .address {
    text-align: center;
    position: relative;
  }

  .footItem {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0px;
    margin: 0px;
  }

  .footer {
    background-color: var(--color-navigation);
    position: relative;
    bottom: 0;
    top: 4rem;
    color: var(--color-white);
    height: 20rem;
    overflow: hidden;
    margin-left: -4px;
  }
  footer.footer {
    margin-top: 13px;
    min-width: 1521px;
    width: fit-content;
  }

  .footItem img {
    width: 80px;
    padding: 0px;
    margin-left: -70px;
    margin-top: -20px;
  }

  .footItem div {
    margin-left: -90px;
    padding: 20px;
  }

  .footItem a {
    font-size: 19px;
    margin-left: -30px;
    margin-right: 20px;
    line-height: 35px;
  }

  .footIcons {
    text-align: right;
    margin-right: -35px;
  }
}
