<% layout('layout/boilerplate') -%>
<div class="mainImg">
  <img
    src="https://res.cloudinary.com/dvpbsy8id/image/upload/v1664236686/tarpitCafe/P1040349_sjfk5i.png"
    alt=""
    class="bg"
  />
</div>
<div style="height: 85vh; width: 100vw">
  <a href="/products" class="btn shopBtn">Shop Now</a>
</div>
<div class="container">
  <div class="homeCatch">
    <h1>WE’RE EXPERTS IN COFFEE & MOTO</h1>
    <p>Not enthusiasts. There’s a difference. Who are these nerds?</p>
    <a href="/about" class="btn">Get to Know us</a>
  </div>
  <div class="homeShop">
    <div class="homeClick">
      <a href="/products?query=apparel"
        ><img
          src="https://res.cloudinary.com/dvpbsy8id/image/upload/v1664236687/tarpitCafe/shopApparel_f51lg1.jpg"
          alt=""
      /></a>
    </div>
    <div class="homeClick">
      <a href="/products?query=goods"
        ><img
          src="https://res.cloudinary.com/dvpbsy8id/image/upload/v1664236688/tarpitCafe/shopAccessories_djuyug.jpg"
          alt=""
      /></a>
    </div>
  </div>
</div>
