<% layout('layout/boilerplate') -%>
<section class="container">
  <div class="row">
    <h1 class="text-center">New product</h1>
    <div class="col-6 offset-3">
      <form
        action="/products"
        method="POST"
        novalidate
        class="validated-form"
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            class="form-control"
            type="text"
            name="product[title]"
            id="title"
            required
          />
        </div>

        <div class="mb-3">
          <label for="price" class="form-label">product price</label>
          <div class="input-group">
            <span class="input-group-text" id="price-label">$</span>
            <input
              type="number"
              class="form-control"
              placeholder="0.00"
              id="price"
              aria-label="Price"
              aria-describedby="price-label"
              name="product[price]"
              required
            />
          </div>
        </div>
        <div class="mb-3">
          <label for="stock" class="form-label">product stock</label>
          <div class="input-group">
            <input
              type="number"
              class="form-control"
              placeholder="0"
              id="stock"
              aria-label="Stock Size"
              aria-describedby="stock-label"
              name="product[stock]"
              required
            />
          </div>
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Image</label>
          <input
            class="form-control"
            type="file"
            name="image"
            id="image"
            multiple
          />
        </div>
        <div class="mb-3">
          <label for="Category" class="form-label">Category</label>
          <select name="product[category]" class="form-control" id="state">
            <option
              value="0"
              label="Select Category"
              selected="selected"
            ></option>
            <% category.forEach(cat =>{ %>
            <option value="<%=cat._id%>"><%=cat.name %></option>
            <% }) %>
          </select>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            class="form-control"
            type="text"
            name="product[description]"
            id="description"
            required
          ></textarea>
        </div>
        <button class="btn btn-outline-success">Add product</button>
      </form>
      <div>
        <a href="/tarpitCafe/products">Back</a>
      </div>
    </div>
  </div>
</section>
<!-- last -->
