<% layout('layout/boilerplate') -%>
<div class="login-root">
  <div
    class="box-root flex-flex flex-direction--column"
    style="min-height: 100vh; flex-grow: 1"
  >
    <div
      class="box-root padding-top--24 flex-flex flex-direction--column"
      style="flex-grow: 1; z-index: 9"
    >
      <div
        class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center"
      >
        <h1><a href="/" rel="dofollow">Tarpit Coffee</a></h1>
      </div>
      <div class="formbg-outer">
        <div class="formbg">
          <div class="formbg-inner padding-horizontal--48">
            <span class="padding-bottom--15"
              >Register to our Tarpit family!</span
            >
            <form
              action="/register"
              method="post"
              class="validated-form"
              id="registration"
              novalidate
            >
              <div class="formControl field padding-bottom--24">
                <label for="firstName">First Name</label>
                <input
                  type="text"
                  name="firstName"
                  id="firstName"
                  required
                  class="form-control"
                />
                <label for="lastName">Last Name</label>
                <input
                  type="text"
                  name="lastName"
                  id="lastName"
                  required
                  class="form-control"
                />
                <small>Error message</small>
                <div class="valid-feedback">Look good!</div>
              </div>

              <div class="formControl field padding-bottom--24">
                <label for="username">Username</label>
                <input
                  type="text"
                  name="username"
                  id="username"
                  required
                  class="form-control"
                />
                <small>Error message</small>
                <div class="valid-feedback">Look good!</div>
              </div>
              <div class="formControl field padding-bottom--24">
                <label for="email" class="form-label">Email</label>
                <input
                  type="email"
                  name="email"
                  id="email"
                  required
                  class="form-control"
                />
                <small>Error message</small>
                <div class="valid-feedback">Look good!</div>
              </div>
              <div class="field formControl padding-bottom--24">
                <label for="password" class="form-label">password</label>
                <input
                  type="password"
                  name="password"
                  id="password"
                  required
                  class="form-control"
                  minlength="8"
                />
                <small>Error message</small>
                <div class="valid-feedback">Look good!</div>
              </div>
              <div class="field formControl padding-bottom--24">
                <label for="re-password" class="form-label"
                  >Re-Enter password</label
                >
                <input
                  type="password"
                  name="password2"
                  id="re-password"
                  required
                  class="form-control"
                  minlength="8"
                />
                <small>Error message</small>
                <div class="valid-feedback">Look good!</div>
              </div>
              <div class="field padding-bottom--24">
                <input type="submit" name="submit" value="Continue" />
              </div>
              <div class="field">
                <a class="ssolink" href="#"
                  >Use single sign-on (Google) instead</a
                >
              </div>
            </form>
          </div>
        </div>
        <div class="footer-link padding-top--24">
          <span>Already have an account? <a href="/login">Sign in</a></span>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/js/formValidation"></script>
