<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0,maximum-scale=1.0"
    />
    <meta name="author" content="Kerry Sano, Faizan Abassi,Intisar Ratul" />
    <meta
      name="keywords"
      content="Brooklyn Cafe,Brooklyn Coffee,Coffee,Motorcycle,Subscription Coffee,Tar pit coffee"
    />
    <meta
      name="keywords"
      content="Kyoto Coffee,slow drip,rocket fuel,smooth,mixed,iced drip,half and half iced,seasonal,matcha,calpico japanese drink,yogurt,sparkling iced tea,enamel camping mug,tarpit mug,tarpit merch,bella and canvas,hoodie, cool,hip,comfy,cotton,midweight,awesome stickers,scented candles,coffee,kerry sano spilt milk"
    />
    <meta name="”robots”" content="index, follow" />
    <meta name="topic" content="Coffee and Motorcycle" />
    <meta name="Audience" content="”All”" />
    <meta name="“Revisit-after" ” content="5 days" />
    <meta name="“Distribution" ” content="”Global”" />
    <meta name=" Publisher " content="Faizan Abassi" />
    <meta name="Publisher " content="Intisar Ratul" />
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "CafeOrCoffeeShop",
        "name": "Tar Pit Coffee",
        "description": "Tarpit Cafe is the best coffee shop in Brooklyn.  We are experts in coffee. While anyone can make that claim not everyone may fully know what they are talking about. Throughout my life I have uniquely combined by love for moto(motorcycles) as well as coffee by not only knowing how to build, repair, and ride motorcycles I have traveled internationally in the pursuit of coffee . I am well versed in everything coffee from the different beans and excellent flavor combos. I have ammassed by knowledge and opened this cafe so that others may get to know coffee as well as I do.",
        "url": "https://www.tarpitcoffee.com/",
        "telephone": "917 705 8031",
        "sameAs": [
          "https://www.facebook.com/tarpitcafe/",
          "https://www.instagram.com/tarpit/",
          "https://r.search.yahoo.com/_ylt=AwrEmIrSZEdj.VsAHyZXNyoA;_ylu=Y29sbwNiZjEEcG9zAzMEdnRpZANMT0NVSTA1NF8xBHNlYwNzcg--/RV=2/RE=1665652051/RO=10/RU=https%3a%2f%2fwww.yelp.com%2fbiz%2ftar-pit-brooklyn/RK=2/RS=JFxRiww5AfBHPl25Adn0nI1dv.M-"
        ],
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "135 Woodpoint Rd",
          "addressLocality": "Brooklyn, ",
          "postalCode": "11211",
          "addressCountry": "NY "
        }
      }
    </script>
    <title>Tarpit Coffee</title>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js"></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script
      src="https://kit.fontawesome.com/1ca0d34845.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="/stylesheets/cart.css" />
    <link rel="stylesheet" href="/stylesheets/products.css" />
    <link rel="stylesheet" href="/stylesheets/blogs.css" />
  </head>
  <body>
    <%-include('../partials/navbar.ejs')%>
    <main><%-include('../partials/flash.ejs')%> <%- body %></main>
    <%-include('../partials/footer.ejs')%>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
      integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
      integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
      crossorigin="anonymous"
    ></script>
    <script src="/js/validateforms.js"></script>
    <script src="/js/empPop.js"></script>
    <script src="/js/query.js"></script>
    <script src="/js/store.js"></script>
    <script src="/js/cart.js"></script>
    <script src="/js/checkout.js"></script>
    <script src="/js/nav.js"></script>
    <script src="/js/formValidation.js"></script>
  </body>
</html>
